# Default
*                   text=auto

# Scripts
*.sql               text

# Binaries
*.pdf               binary
*.webp              binary

# Configuration
.gitattributes      text
.gitignore          text

# Documentation
*.md                text diff=markdown
